div.demo {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    --aug-border: 5px;
    --aug-inset: 5px;
    padding: 10px;
    /* mind the gap */
    text-align: center;
    --aug-border-bg: gold;
    --aug-inset-bg: gold;
}

div.demo0 {
    --aug-inset-bg: purple;
}

div.demo1 {
    --aug-inset-bg: linear-gradient(red, transparent), linear-gradient(to right, blue, transparent), black;
}
